# ALL the files in jni/ and jniLibs/ are important (even *.a and *.so)
!jni/**/*.a
!jni/**/*.so
!jniLibs/**/*.a
!jniLibs/**/*.so

# Build system will generate the content of these folders: http://developer.android.com/ndk/guides/prebuilts.html
libs/
obj/